@media (min-width: 1200px){
    /*APLICAR ESTILOS PARA AMPLIOS MONITORES O TELEVISORES DE MAYOR RESOLUCION*/

    /*EJEMPLO: MODIFICAMOS LAS CARTAS DE QUERES VIAJAR, PARA QUE SE CENTREN SIN OCUPAR TODO EL ANCHO DISPONIBLE
     Y SE ALARGEN PARA MEJOR VISTA */
    .cartas-container{
        justify-content: center;
    }
    .carta {
        height: 400px;
        width: 266px;
    }

    /*TITULO DENTRO DEL SLIDER (BIENVENIDOS)*/
    .welcome-index {
        top: 35%;
    }
}