/*ESTILOS GENERALES*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding-top: 87px;
  background-color: #fff;
}

/*BOTON FLOTANTE DE WHATSAPP*/
.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100000 !important;
}

.whatsapp-icon {
  margin-top: 13px;
}

.whatsapp:hover {
  transition: all .3s;
  transition-duration: 1s;
  filter: opacity(.5);
}


/*PRIMER TITULO DEL BODY (BIENVENIDOS A TURISMO GRUPO 20)*/
.welcome-index {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  z-index: 99;
}

.welcome-index h1 {
  font-size: 1.3rem;
}

.welcome-index button {
  font-size: 0.7rem;
  font-weight: bold;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 50%);
  background-color: transparent!important;
  border: 1.5px solid #fff;
  display: flex;
  margin: 0px auto;
  width: 116px;
  padding: 0px;
  height: 32px;
  justify-content: center;
  cursor: pointer;
  color: white;
}

/*SECCION ARTICULO QUERES VIAJAR*/

/*BOTON DEL ARTICULO (VER MAS) DEBAJO DE QUERES VIAJAR */
.btn-article button {
  font-size: 0.7rem;
  font-weight: bold;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 50%);
  background-color: transparent !important;
  border: 1.5px solid blueviolet;
  display: flex;
  margin: 6px auto;
  width: 131px;
  padding: 5px;
  height: 37px;
  justify-content: center;
  color: blueviolet !important;
  cursor: pointer;
}

/*LINK DENTRO DEL BOTON*/

.btn-article {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.btn-article a{
  color: blueviolet;
}

/*TEXTO QUERES VIAJAR Y DESCUBRI LOS MARAVILLOSOS...*/
.text-article {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 0px;
}

.text-article h2{
  color: blueviolet;
}

.text-article p{
  color: #7d7d7d;
  padding-bottom: 10px;
}

/*CONTENEDORES DE LAS CARTAS QUE VAN A CONTENER LAS IMAGENES*/

.carta {
  background-position: center center;
  background-size: cover;
  padding: 92px 0px;
  margin: 5px;
  border-radius: 15px;
  height: 105px;
  width: 90%;
}

.cartas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*TEXTO DE LA CARTA*/

.carta h3 {
  color: white;
  text-align: center;
  margin-top: auto;
  font-size: 2em;
}

/*IMAGENES DE LAS CARTAS */

.carta:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/article/salta-article.jpg);
}

.carta:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/article/mendoza-article.jpg);
}

.carta:nth-child(3) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/article/brc-article.jpg);
}

.carta:nth-child(4) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/article/caminito-article.jpg);
}

.carta:hover {filter: blur(2px);}

/*-------------SECCION LA NATURALEZA TE LLAMA---------------*/

/*IMAGEN DE LAS LLAMAS DE LA NATURALEZA TE LLAMA*/
.content-container {
  height: 500px;
  background-image: linear-gradient(0deg, rgba(5, 4, 2, 0.8), rgba(13, -11, -26, -2.5)), url(../imagenes/content/naturaleza.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  text-align: center;
}

/*TEXTO DE LA NATURALEZA TE LLAMA*/
.content-container h4 {
  position: relative;
  top: 40%;
  font-size: 1.8em;
  color: white;
}

.content-container p {
  position: relative;
  top: 37%;
  color: white;
  font-size: 1.2em;
}

/*BOTON DE LA NATURALEZA TE LLAMA*/
.content-container button {
  position: relative;
  top: 55%;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: transparent!important;
  border: 1.5px solid blueviolet;
  color: white !important;
  cursor: pointer;
}

/* LINK DENTRO DEL BOTON */

.content-container a{
  color:#ffffff;;
}

/* -------------SECCION PREVIAJE------------ */

/*IMAGEN DE PREVIAJE*/
.previaje-content {
  height: 500px;
  background-image: linear-gradient(0deg, rgba(5, 4, 2, 0.8), rgba(13, -11, -26, -2.5)), url(../imagenes/content/previaje.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  text-align: center;
}

/*TEXTO DEL PREVIAJE*/
.previaje-content h4 {
  position: relative;
  top: 40%;
  font-size: 1.8em;
  color: white;
}

.previaje-content p {
  position: relative;
  top: 37%;
  color: white;
  font-size: 1.2em;
}

/*BOTON DEL PREVIAJE*/

.previaje-content button {
    position: relative;
    top: 55%;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: transparent!important;
    border: 1.5px solid blueviolet;
    color: white;
    cursor: pointer;
}

.previaje-content a{
  color: #ffffff;
}

/*FOOTER */

footer {
  display: flex;
  margin: 25px;
  justify-content: center;
  text-align: center;
}

footer img {
  margin: 5px;
}

.copyright {
  position: absolute;
  right: 10px;
}

footer h5 {
  font-size: 0.8em;
}

/*PAGINA EXPERIENCIAS*/

video {
  width: 100%;
}

#destacadas {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

#destacadas h2{
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
  color: #61646e;
}

#destacadas h3{
  text-align: center;
  position: absolute;
  color: white;
  margin: 138px 34px;
  font-size: 1.4rem;
  text-shadow: black 0.1em 0.1em 0.2em;
}

#destacadas h4{
  text-align: center;
  margin: 0px auto;
  text-decoration: underline;
  color: blueviolet;
  font-size: 1.4rem;
  padding-top: 34px;
}

#destacadas h5 {
  text-align: center;
  margin: 0px auto;
  padding: 20px;
  color: #61646e;
  line-height: 18px;
  font-size: 1rem;
}

#destacadas img{
  background-position: center center;
  background-size: cover;
  border-radius: 20px;
  height: 310px;
  width: 90%;
  margin: 20px 0px;
}

#destacadas ul{
  align-items: center;
  line-height: 27px;
  margin: 0px auto;
}

.container-destacadas-img{
  display: flex;
  justify-content: center;
  height: 321px;
  /* height: 385px; */
  margin: 10px;
}

.container-destacadas-img:hover{
  -webkit-transform:scale(0.5);transform:scale(1.1);
}

/*PAGINA NOSOTROS*/

#page-aboutUs-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-aboutUs-text {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 27px;
  padding: 20px;
}

.page-aboutUs-text h1{
  color: blueviolet;
}

.page-aboutUs-text h2{
  color: #61646e;
}


.aboutUs-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
}

.aboutUs-img img {
  display: flex;
  height: 303px;
  width: 356px;
  border-radius: 8px;
  margin: 5px;
}