@media (max-width: 500px) {
    
    /*TITULO DENTRO DEL SLIDER (BIENVENIDOS)*/

    .welcome-index h1 {
        font-size: 0.7rem;
    }

    .welcome-index {
        top: 113px !important;
    }

    .welcome-index button {
        font-size: 0.5rem;
        height: 11px;
        width: 68px;
    }

    /*IMAGENES DEL ARTICULO DEBAJO DEL SLIDER*/

    .carta {
        padding: 68px 0px;
        margin: 5px;
        height: 20px;
        width: 80%;
    }

    .text-article {
        line-height: 15px;
    }

    /*SECCION CONTENIDO LA NATURALEZA TE LLAMA QUE ESPERAS*/

    .content-container {
        height: 322px;
    }

    .content-container button {
        top: 36%;
        font-size: 0.8rem;
    }

    /*SECCION CONTENIDO PREVIAJE*/

    .previaje-content {
        height: 290px;
    }

    .previaje-content button {
        top: 35%;
        font-size: 0.7rem;
    }

    /*COPYRIGHT*/

    .copyright p {
        font-size: 13px;
    }
    
    /*PAGINA EXPERIENCIAS*/
    #destacadas{
        height: 100%;
    }
    
    #destacadas img{
        height: 252px;
    }

    #destacadas h2{
        font-size: 1.4rem;
    }

    #destacadas h3{
        margin-top: 108px;
    }

    /*PAGINA NOSOTROS*/
    .page-aboutUs-text {
        font-size: 0.8rem;
    }

    /* seccion iframe */

    iframe{
        height: 15rem;
        width: 16rem;
    }

    /* PAGINA DE CONTACTO SECCION FORMULARIO */

    #container-form{
        margin-top: 0px;
        padding: 5px;
    }

    .info-form{
        padding: 0px;
    }
    

    /* PAGINA DE CONTACTO SECCION API-REST */

    .wrapper header {
        font-size: 0.8rem ;
    }

    .wrapper {
        width: 14rem;
        height: 16rem;
    }

    .input-part input {
        font-size: 0.4rem;
    }

    .separator::before {
        font-size: 0.7rem;
    }

    .input-part :where(input, button) {
        font-size: 0.5rem;
    }

}